body {
background: rgb(5, 163, 226);
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: black;
text-align: center;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /
display: block;
margin: auto;
}